<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
  		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Importing & Exporting PPE</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	<body>

		<div class="container">
			<div class="row">
			  <div class="col-md-12 jumbotron text-center">
				<h1>Importing & Exporting PPE in the Time of COVID</h1>
				<p>Use the interactive charts below to explore the dataset</p>
			  </div>
			</div>
			<div class="row">
			  <div class="col-md-2">
				<div class="well">
				  <h5>PPE Product</h5>
				  <select id="selPPE" onchange="ppeOptionChanged(this.value)"></select>
				</div>
			  </div>
			  <div class="col-md-5">
				<div id="distChange">
					<p>Distribution change graphs (Q1) here.</p>
				</div>
			  </div>
			</div>
			<div class="row">
				<div class="col-md-12">
				  <div class="sankey">
					  <p>Sankey chart here.</p>
				  </div>
				</div>
			  </div>
			<div class="row">
			  <div class="col-md-2">
				<div class="well">
				  <h4>Import/Export Data</h4><hr>
				  <p>Choose to view import or export data.</p>
				  <input type="radio" id="import" name="infoType" onchange="infoTypeChanged()" value="import" checked>
				  <label for="import">Import</label><br>
				  <input type="radio" id="export" name="infoType" onchange="infoTypeChanged()" value="export">
				  <label for="export">Export</label><hr>
				  <p>Select a type of product.</p>
				  <label for="selProduct">Product: </label>
				  <select id="selProduct" onchange="productChanged(this.value)"></select>
				</div>
			  </div>
			  <div class="col-md-5">
				<div id="covidInfo">
					<p>Time Series</p>
				</div>
			  </div>
			</div>
		  </div>

		<div class="chart"></div>
		<!-- <div class="sankey"></div> -->
		<!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
		<script src="https://d3js.org/d3.v5.min.js"></script>
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<!-- `url_for()` is a flask thing to find the location of the file -->
		<!-- <script src="{{ url_for('static', filename='js/import_export.js') }}"></script> -->
		<script src="{{ url_for('static', filename='js/covid_chart.js') }}"></script>
		<script src="{{ url_for('static', filename='js/sankey_chart.js') }}"></script>
		<!-- Load the sankey.js function -->
		<script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/sankey.js"></script>
  </body>
</html>