<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
  		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Covid US Imports Exports</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- Our CSS -->
		<link rel="stylesheet" type="text/css" href="static/css/style.css">
		<!-- Load d3.js -->
		<script src="https://d3js.org/d3.v5.min.js"></script>
		<!-- Load the sankey.js function (doesn't work if not in head) -->
		<!-- <script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/sankey.js"></script> -->
		<script src="..\static\js\sankey.js"></script>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	</head>
	<body>

		<div class="container">
			<div class="row">
			  <div class="col-md-12 jumbotron text-center">
				<h1>Covid's Impact on US Imports & Exports</h1>
				<h2>Pharmaceutical and Medical Equipment</h2>
				<p>Use the interactive charts below to explore the dataset</p>
			  </div>
			</div>
			<div class="row">
			  <div class="col-md-2">
				<div class="well">
					<h4>Import or Export</h4><hr>
					<p>Choose to view import or export data.</p>
					<input type="radio" id="import1" name="dataType" onchange="dataTypeChanged()" value="Import" checked>
					<label for="import">Import</label><br>
					<input type="radio" id="export1" name="dataType" onchange="dataTypeChanged()" value="Export">
					<label for="export">Export</label>
				</div>
			  </div>
			  <div class="col-md-5">
				<div id="distChange">
				</div>
			  </div>
			  <div class ="row">
			</div>			  
			</div>
			<div class ="row">
				<hr>
				<p>This graph compares the yearly change in quantity of U.S. imports and exports of various pharmaceutical and medical supplies between 2019 and 2020. The categories analyzed include Vaccines, Blood, and Immunological Products, Medication in both measured and unmeasured doses, Medically-Treated Bandages, and Surgical Equipment.<br>
					<p>
					For imports, we see a notable increase from 2019 to 2020 of medication and vaccines. This follows what we expected due to the impact of Covid in 2020. We also see a decrease in surgical equipment which could possibly be due Covid’s impact on non-elective surgeries.
					</br><p>
					For exports, where we see a yearly increase we see a decrease in exports. This suggests the US experienced a higher need for certain categories due to Covid and so had to import more materials than previous years.<br>
					<br>
				</p>
				<hr>
			</div>
			<div class="row">
			  <div class="col-md-4">
				<div class="well">
				  <h4>Data Filters</h4><hr>
				  <p>Choose to view import or export data.</p>
				  <input type="radio" id="import" name="infoType" onchange="infoTypeChanged()" value="Import" checked>
				  <label for="import">Import</label><br>
				  <input type="radio" id="export" name="infoType" onchange="infoTypeChanged()" value="Export">
				  <label for="export">Export</label><hr>
				  <p>Select a type of product.</p>
				  <label for="selProduct">Product: </label>
				  <select id="selProduct" onchange="productChanged(this.value)"></select>
				</div>
			  </div>
			  <div class="col-md-8">
				<div id="covidInfo">
					
				</div>
			  </div>
			</div>
			<div class ="row">
				<p>This graph explores the relationship between the number of covid cases in the United States and the
					quantities of pharmaceuticals and medical supplies imported and exported in 2020. As covid cases continue to steadily rise, imports and exports of medical equipment experience drastic highs and lows by volume from month to month. The graphs reflects little correlation between the number of covid cases and the volume of medical equipment imported and exported throughout 2020.</p>
				</p>
				<hr>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="well">
					  <h4>Sankey Filters</h4><hr>
					  <p>Choose to view import or export data.</p>
					  <input type="radio" id="import" name="sankeyType" onchange="sankeyTypeChanged()" value="Import" checked>
					  <label for="import">Import</label><br>
					  <input type="radio" id="export" name="sankeyType" onchange="sankeyTypeChanged()" value="Export">
					  <label for="export">Export</label><hr>
					  <p>Select a type of product.</p>
					  <label for="sankeyProduct">Product: </label>
					  <select id="sankeyProduct" onchange="sankeyProductChanged(this.value)"></select><hr>
					  <p>Choose a year</p>
					  <input type="radio" id="2019" name="yearInfoType" onchange="yearChanged()" value="2019" checked>
					  <label for="2019">2019</label><br>
					  <input type="radio" id="2020" name="yearInfoType" onchange="yearChanged()" value="2020">
					  <label for="2020">2020</label><hr>
					</div>
				  </div>
				<div class="col-md-8">
				  <div id="sankey">	  
				  </div>
				</div>
				<div class ="row">
				<p>This graph explores the relationship between the amount of US imports/exports and the geographical import/export location.  We found little correlation between the volume of imports and exports and change in distribution location. The biggest takeaway was the volume of imports/exports we do with Europe. This would potentially could be an issue in the future if Europe were to experience a global crisis (Covid) or policy change with the US. 
				</p>
				<hr>
			</div>
		  </div>

		<!-- `url_for()` is a flask thing to find the location of the file -->
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<script src="{{ url_for('static', filename='js/covid_chart.js') }}"></script>
		<script src="{{ url_for('static', filename='js/importexport_chart.js') }}"></script>
		<script src="{{ url_for('static', filename='js/sankey_chart.js') }}"></script>
		<!-- <script src="plotly-latest.min.js"></script> -->
  </body>
</html>